body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e90ff;
  padding: 20px;
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 28px;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li .task-text {
  flex: 1;
  font-size: 18px;
}

li .task-buttons button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.complete-button {
  background-color: #32cd32;
  color: #fff;
}

.delete-button {
  background-color: #ff4500;
  color: #fff;
}

.complete-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

.task-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
